* {
  text-align: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  background-color: #fdfffc;
}
header {
  background-color: #124b2a;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.header {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.header h1 {
  color: white;
  font-size: 5em;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.header .button {
  height: 40px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  line-height: 40px;
  margin-top: 50px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.1s;
}
.button:hover {
  scale: 1.1;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  column-gap: 3vh;
}
.header .image-container .img {
  width: 35vh;
  height: 45vh;
  border-radius: 10px;
  animation: rotation 0.5s 2 alternate;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

h1 {
  font-size: 3em;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #b70e0a;
  margin-bottom: 20px;
}

.container_introduction {
  height: 75vh;
  text-align: center;
}
.container_introduction h1 {
  margin-top: 70px;
}
.container_introduction p {
  margin-top: 20px;
  font-size: 25px;
  line-height: 1.3;
}

.nos_menus {
  font-size: 3em;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #b70e0a;
  margin-top: 40px;
}
.card-food {
  height: 90%;
  width: 90%;
  border-radius: 10px;
  cursor: pointer;
}

.epices {
  margin-top: 200px;
}

.nos_epices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  width: 70%;
  row-gap: 3vh;
}

.nos_epices .card-food img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.nos_entrees {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  row-gap: 3vh;
  width: 70%;
}

.nos_entrees .card-food img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

video {
  margin-bottom: 200px;
}

.food {
  margin-top: 20px;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3vh;
  justify-content: space-around; /*je trouve ce truc rend mieux*/
  margin-left: auto;
  margin-right: auto;
}
.card-food {
  height: 90%;
  width: 90%;
  border-radius: 10px;
  transition: 0.4s cubic-bezier(0.61, -0.3, 0.12, 1.55);
  cursor: pointer;
}

.card-food:hover {
  scale: 1.1;
}

.food .card-food img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.find_us {
  margin-top: 70px;
  font-size: 3em;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #b70e0a;
}

.container-contact {
  display: flex;
  justify-content: space-around;
  height: 40vh;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 100px;
}
.container-contact .left-contact {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
.container-contact .left-contact div {
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  width: 250px;
}
.container-contact .left-contact div h3 {
  margin-top: 30px;
  font-size: 30px;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container-contact .right-contact {
  width: 60%;
}
.container-contact .right-contact iframe {
  height: 100%;
  width: 90%;
  border-radius: 10px;
}
.container-contact img {
  margin-top: 20px;
  height: 60px;
}

video {
  height: 70vh;
  width: auto;
  border-radius: 10px;
}

/*responsive*/

@media screen and (max-width: 1050px) {
  .header {
    justify-content: center;
  }
  .header .button {
    height: 70px;
    width: 300px;
    font-size: 24px;
  }
  .header .image-container .img {
    display: none;
  }
  p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .nos_menus {
    margin-top: 100px;
    margin-bottom: 20px;
  }
  .container-contact {
    flex-direction: column;
  }

  .left-contact {
    flex-direction: column;
    row-gap: 2vh;
    margin: 0 20vw;
  }
  .left-contact div {
    min-height: 36vh;
    min-width: 38vh;
    margin-left: auto;
    margin-right: auto;
  }
  .food {
    margin: 2px auto;
  }
  .find_us {
    margin-bottom: 10px;
    margin-top: 280px;
  }

  .epices {
    margin-top: 0px;
  }

  .right-contact {
    margin: 2vh auto;
    min-width: 90%;
    min-height: 90%;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .right-contact div {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 1050px) and (max-height: 620px) {
  .nos_menus {
    margin-top: 400px;
  }
  .find_us {
    margin-bottom: 10px;
    margin-top: 280px;
  }
  .left-contact {
    flex-direction: row;
    column-gap: 10vh;
  }
  .epices {
    margin-top: 500px;
  }
}

@media screen and (max-width: 900px) {
  .nos_menus {
    margin-top: 20px;
  }
  .find_us {
    margin-bottom: 10px;
    margin-top: 280px;
  }
}

@media screen and (max-width: 800px) {
  .nos_menus {
    margin-top: 120px;
  }
  .find_us {
    margin-bottom: 10px;
    margin-top: 180px;
  }
}

@media screen and (max-width: 600px) {
  .nos_menus {
    margin-top: 620px;
  }
  .find_us {
    margin-bottom: 10px;
    margin-top: 230px;
  }

  .epices {
    margin-top: 700px;
  }
}

@media screen and (max-width: 500px) {
  .nos_menus {
    margin-top: 700px;
  }

  .nos_entrees {
    grid-template-columns: repeat(1, 1fr);
  }

  .nos_epices {
    grid-template-columns: repeat(1, 1fr);
  }

  .food {
    grid-template-columns: repeat(1, 1fr);
  }
  .food .card-food {
    margin-left: 4vw;
    margin-right: auto;
  }
  .left-contact {
    margin-left: 6vw;
  }
  .find_us {
    margin-bottom: 10px;
  }
  .epices {
    margin-top: 1000px;
  }

  .container_introduction h1 {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }

  .header h1 {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 400px) {
  .nos_menus {
    margin-top: 1000px;
  }
  .header h1 {
    font-size: 3em;
  }
  .header .button {
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 530;
  }
  .epices {
    margin-top: 1000px;
  }
  .find_us {
    margin-bottom: 10px;
  }
  .title {
    width: auto;
    font-size: 35px;
  }

  .container_introduction .title {
    font-size: 35px;
  }
}

@media screen and (max-width: 380px) {
  .left-contact {
    margin-left: 14vw;
  }
  .epices {
    margin-top: 1000px;
  }
  .find_us {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 365px) {
  .left-contact {
    margin-left: 8vw;
  }
}

@media screen and (max-width: 290px) {
  .nos_menus {
    margin-top: 800px;
  }
  .epices {
    margin-top: 1400px;
  }
  .nos_epices {
    margin-bottom: 180px;
  }
  .left-contact {
    margin-left: 3.5vw;
  }
  .left-contact div {
    min-width: 20px;
    min-height: 20px;
  }
  .find_us {
    margin-bottom: 10px;
  }
}
