* {
  text-align: center;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.header {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #007200;
  align-items: center;
}

.header h1 {
  margin-top: 100px;
  color: white;
  font-size: 4em;
}
.header .button {
  height: 40px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  line-height: 40px;
  margin-top: 50px;
  cursor: pointer;
}
.header .image-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  width: 70%;
  height: 325px;
  justify-content: space-between;
}
.header .image-container img {
  height: 100%;
  width: auto;
  border-radius: 10px;
}

.container_introduction {
  display: flex;
  height: 50vh;
  margin-bottom: 100px;
}
.container_introduction .left {
  height: 100%;
  width: 60%;
}
.container_introduction .left h1 {
  margin-top: 100px;
}
.container_introduction .left p {
  margin-top: 50px;
}

.horaire {
  margin-bottom: 100px;
}

.horaire .card-horaire {
  background-color: #f0efeb;
  height: 400px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.container-contact {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;

  /*height: 100vh;*/
}
.container-contact .left {
  /*height: 100vh;*/
  width: 45vw;
  border: 1px solid blue;
}
.container-contact iframe {
  border-radius: 10px;
}
.container-contact .right {
  height: 50vh;
  width: 45vw;
}
