* {
  text-align: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  background-color: #fdfffc;
}
header {
  background-color: #124b2a;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.header {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.header h1 {
  color: white;
  font-size: 5em;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.header .button {
  height: 40px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  line-height: 40px;
  margin-top: 50px;
  cursor: pointer;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  column-gap: 3vh;
}
.header .image-container .img {
  width: 35vh;
  height: 45vh;
  border-radius: 10px;
}

.container_introduction {
  height: 75vh;
  text-align: center;
}
.container_introduction h1 {
  margin-top: 70px;
  font-size: 3em;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #b70e0a;
}
.container_introduction p {
  margin-top: 20px;
  font-size: 25px;
  line-height: 1.3;
}
.food {
  height: 90vh;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3vh;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around; /*je trouve ce truc rend mieux*/
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.food .card-food {
  height: 90%;
  width: 90%;
  border-radius: 10px;
}
.food .card-food img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.container-contact {
  display: flex;
  justify-content: space-around;
  height: 40vh;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 500px;
  margin-bottom: 100px;
}
.container-contact .left-contact {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
.container-contact .left-contact div {
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 45%;
}
.container-contact .left-contact div h3 {
  margin-top: 30px;
  font-size: 30px;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container-contact .right-contact {
  width: 60%;
}
.container-contact .right-contact iframe {
  height: 100%;
  width: 90%;
  border-radius: 10px;
}
.container-contact img {
  margin-top: 20px;
  height: 60px;
}
